.header,.footer{
    position:relative;
    width:100%;
    z-index:9;
}
.fullContainer{
    position:relative;
    width:100%;
}
@media (max-width:900px){
    .centerContainer{
        position:relative;
        margin:0px auto;
        width:95%;
    }
}
@media (min-width:900px){
    .centerContainer{
        position:relative;
        margin:0px auto;
        width:95%;
    }
}

/**********************************************************************************************************************/
/**********************************************************************************************************************/
/**********************************************************************************************************************/
/***Collection***/

.collection{
    padding:30px 2.5%;
    overflow:hidden;
}

.collection .featured_entry_mobile{
    position:relative;
}

.collection .featured_entry_mobile .description{
    width:100%;
    padding:25px 15px 15px 15px;
}

.collection .featured_entry_mobile .description .title_or_labels .label{
    float:left;
    margin-right:10px;
    padding:2px 10px;
    color:#000;
    background:#FFF;
}

.collection .featured_entry{
    display: flex;
    align-items: stretch; /* ensures equal height */
}

.collection .featured_entry .featured_info{
    width:50%;
    padding:20px 15px;
}
.collection .featured_entry .featured_image{
    width:50%;
    aspect-ratio: 1;
}
.collection .featured_entry .featured_image img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures image fills area nicely */
    display: block;
}

/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/

.collection .featured_entry2{
    display: flex;
    align-items: stretch; /* ensures equal height */
}
.collection .featured_entry2 .featured_info{
    width:60%;
    padding:30px;
}
.collection .featured_entry2 .featured_image{
    width:40%;
}
.collection .featured_entry2 .featured_image img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* ensures image fills area nicely */
    display: block;
}



@media(max-width:900px){
    .collection .entries .entry{
        width:100% !important;
        margin-bottom:20px;
    }
}
@media(min-width:900px){
    .collection .entries .entry{
        float:left;
        width:18.5%;
        height:auto;
        margin-right:1.875%;
        margin-bottom:2%;
    }
    .collection .entries .entry:nth-child(5n){
        margin-right:0px !important;
    }
    .collection .entries2 .entry{
        float:left;
        width:23.5%;
        height:auto;
        margin-right:2%;
        margin-bottom:2%;
    }
    .collection .entries2 .entry:nth-child(4n){
        margin-right:0px !important;
    }
}

.collection .entries .entry .description {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:999;
    padding:15px;
    background:rgba(255,255,255,0.1);
}

.collection .entries .entry .description .title_or_labels , .collection .featured_entry .featured_info .title_or_labels{
    position:absolute;
}
.collection .entries .entry .description .title_or_labels .label , .collection .featured_entry .featured_info .title_or_labels .label{
    float:left;
    margin-right:10px;
    padding:2px 10px;
    color:#000;
    background:#FFF;
}


.collection .swiper-button-prev::after, .collection .swiper-button-next::after {
  display: none; /* hide Swiper’s default icons */
}
.collection .swiper-button-prev, .collection .swiper-button-next {
    position: absolute;
    bottom: 0px;      
    right:2.5%;  
    width: 14px;    
    height: 28px;
    z-index: 10;
    background:url("../images/arrow-right.png") center no-repeat;
    background-size: 14px 28px;
}

/* Position prev button to the left of next button */
.collection .swiper-button-prev {
    left: 95% !important;
    background:url("../images/arrow-left.png") center no-repeat;
    background-size: 14px 28px;
}


/***********************************************************************/
/***********************************************************************/
/***********************************************************************/
/***********************************************************************/


.collection .entries2 .entry .description {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:999;
    padding:15px;
    background:rgba(255,255,255,0.1);
}

.collection .entries2 .entry .description .title_or_labels , .collection .featured_entry2 .featured_info .title_or_labels{
    position:absolute;
}
.collection .entries2 .entry .description .title_or_labels .label , .collection .featured_entry2 .featured_info .title_or_labels .label{
    float:left;
    margin-right:10px;
    padding:2px 10px;
    color:#000;
    background:#FFF;
}