
@font-face {
    font-family: 'ABC Diatype Arabic';
    src: url('../fonts/ABCDiatypeArabic-Regular.eot');
    src: url('../fonts/ABCDiatypeArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ABCDiatypeArabic-Regular.woff2') format('woff2'),
        url('../fonts/ABCDiatypeArabic-Regular.woff') format('woff'),
        url('../fonts/ABCDiatypeArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.ABCDiatype{
	font-family: 'ABC Diatype Arabic' !important;
}

@font-face {
    font-family: 'ABC Diatype Arabic Medium';
    src: url('../fonts/ABCDiatypeArabic-Medium.eot');
    src: url('../fonts/ABCDiatypeArabic-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ABCDiatypeArabic-Medium.woff2') format('woff2'),
        url('../fonts/ABCDiatypeArabic-Medium.woff') format('woff'),
        url('../fonts/ABCDiatypeArabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.ABCDiatypeMedium{
	font-family: 'ABC Diatype Arabic Medium' !important;
}

@font-face {
    font-family: 'ABC Diatype Arabic Black';
    src: url('../fonts/ABCDiatypeArabic-Black.eot');
    src: url('../fonts/ABCDiatypeArabic-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ABCDiatypeArabic-Black.woff2') format('woff2'),
        url('../fonts/ABCDiatypeArabic-Black.woff') format('woff'),
        url('../fonts/ABCDiatypeArabic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
.ABCDiatypeBlack{
	font-family: 'ABC Diatype Arabic Black' !important;
}

/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video , textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align:top;
	size:inherit;
	color:inherit;
	line-height:150%;
	font-family: 'ABC Diatype Arabic' !important;
	
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,

q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img{
	max-width:100%;
}
table{
	max-width:none;
}
div{
	position:relative;
}
strong,b{
	font-weight:bold;
}
i,em{
	font-style:italic;
}
u{
	text-decoration:underline;
}
ul,ol{
	list-style-position:outside;
}
.hidden{
	display:none;
}
.clickable{
	cursor:pointer;
}
.fullWidth{
	width:100% !important;
}
.heightAuto{
	height:auto !important;
}
.floatRight{
   float:right;
}
.floatLeft{
   float:left;
}
.clear{
   clear: both;
}
a{
	text-decoration: none !important;
}
a:hover{
	color:#331a59 !important;
	text-decoration: none !important;
}
textarea{
    min-height:300px !important;
    resize:none !important;
}
:root {
    --primary-color: #ddd0c1;
    --primary-hover-color: #e5d9cf;
}

input{
	border-radius:0px !important;
}

button.circle{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: none;
}