@media (max-width: 900px) {
    .topSpacerBig{
        margin-top:30px;
    }
    .topSpacer{
        margin-top:20px;
    }
    .topSpacerSmall{
        margin-top:10px;
    }
    .leftSpacer{
        margin-left:20px;
    }
    .rightSpacer{
        margin-right:20px;
    }
}
@media (min-width: 900px) {
    .topSpacerBigger{
        margin-top:50px;
    }
    .topSpacerBig{
        margin-top:30px;
    }
    .topSpacer{
        margin-top:20px;
    }
    .topSpacerSmall{
        margin-top:10px;
    }
    .topSpacerSmaller{
        margin-top:7px;
    }
    .leftSpacer{
        margin-left:20px;
    }
    .rightSpacer{
        margin-right:20px;
    }
    .rightSpacerBig{
        margin-right:30px;
    }
}

@media(max-width:900px){
    .bigger{
        font-size:6vw !important;
    }
    .big{
        font-size:5vw !important;
    }
    .medium{
        font-size:4vw !important;
    }
    .small{
        font-size:3.5vw !important;
    }
    .tiny{
        font-size:2.6vw !important;
    }
}
@media(min-width:900px){
    .bigger{
        font-size:2.8vw !important;
        line-height: 100% !important;
    }
    .big{
        font-size:2.5vw !important;
        line-height: 100% !important;
    }
    .medium{
        font-size:1.7vw !important;
        line-height: 100% !important;
    }
    .small{
        font-size:1.4vw !important;
        line-height: 120% !important;
    }
    .tiny{
        font-size:0.9vw !important;
        line-height: 120% !important;
    }
    .micro{
        font-size:0.75vw !important;
        line-height: 120% !important;
    }
    
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

.white{
    color:#FFF !important;
}
.whiteBg{
    background:#FFF;
}

.black{
    color:#000!important
}
.blackBg{
    background:#000
}

.grey{
    color:#666666;
}
.greyBg{
    background:#666666;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

a .tabActive{
    color:#ddd0c1 !important;
}
a:hover{
    color:#000 !important;
}

input[type="button"].greenBtn{
    border:0px;
    outline:none;
    padding:5px 20px;
    color:#000;
    background:#ddd0c1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

.textCenter{
    text-align:center;
}
.textRight{
    text-align:right;
}
.clickable{
    cursor:pointer;
}
.underline{
    text-decoration:underline;
}
.padding10{
    padding:10px;
}
.rounded {
    border-radius: 30px;
}

.threeQuartersText{
    width:75%;
}


@media(max-width:900px){
    .desktopOnly{
        display:none !important;
    }
    .mobileOnly{
        display:block !important;
    }
}
@media(min-width:900px){
    .desktopOnly{
        display:vi !important;
    }
    .mobileOnly{
        display:none !important;
    }
}
