@media (max-width: 900px) {
    .topSpacerHuge{
        margin-top:80px;
    }
    .topSpacerBig{
        margin-top:30px;
    }
    .topSpacer{
        margin-top:20px;
    }
    .topSpacerSmall{
        margin-top:10px;
    }
    .topSpacerSmaller{
        margin-top:5px;
    }
    .leftSpacer{
        margin-left:25px;
    }
    .rightSpacerBig{
        margin-right:15px;
    }
    .rightSpacer{
        margin-right:10px;
    }
    
}
@media (min-width: 900px) {
    .topSpacerHuge{
        margin-top:180px;
    }
    .topSpacerBigger{
        margin-top:50px;
    }
    .topSpacerBig{
        margin-top:30px;
    }
    .topSpacer{
        margin-top:20px;
    }
    .topSpacerSmall{
        margin-top:10px;
    }
    .topSpacerSmaller{
        margin-top:7px;
    }
    .leftSpacer{
        margin-left:20px;
    }
    .rightSpacer{
        margin-right:20px;
    }
    .rightSpacerBig{
        margin-right:30px;
    }
}

@media(max-width:1000px){
    .huge{
        font-size:9vw !important;
        line-height: 130% !important;
        letter-spacing: -4% !important;
    }
    .bigger{
        font-size:6.5vw !important;
        line-height: 120% !important;
        letter-spacing: -4% !important;
    }
    .big , h1{
        font-size:6vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    .medium , h2{
        font-size:5vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    h3{
        font-size:4.75vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    .small , p{
        font-size:4.5vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    .tiny , li{
        font-size:4vw !important;
        line-height: 120% !important;
        letter-spacing: -1% !important;
    }
    .micro , ol{
        font-size:2.2vw !important;
        line-height: 120% !important;
        letter-spacing: -1% !important;
    }
    
    /*********************************/

    h1 strong , h1 u , h1 i , h1 s , h1 a{
        font-size:6vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

    h2 strong , h2 u , h2 i , h2 s , h2 a{
        font-size:5vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

    h3 strong , h3 u , h3 i , h3 s , h3 a{
        font-size:4.75vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

    p strong , p u , p i , p s , p a , div.small p, div.small ul, div.small li, div.small td , div.small td strong , div.small td u , div.small td i , div.small td s , div.small td a{
        font-size:4.5vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

}
@media(min-width:1000px){
    .huge{
        font-size:5.5vw !important;
        line-height: 100% !important;
        letter-spacing: -4% !important;
    }
    .bigger{
        font-size:3.5vw !important;
        line-height: 120% !important;
        letter-spacing: -4% !important;
    }
    .big , h1{
        font-size:2.25vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    .medium , h2{
        font-size:1.85vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    h3{
        font-size:1.45vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    .small , p{
        font-size:1.2vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }
    .tiny , li{
        font-size:0.9vw !important;
        line-height: 120% !important;
        letter-spacing: -1% !important;
    }
    .micro , ol{
        font-size:0.75vw !important;
        line-height: 120% !important;
        letter-spacing: -1% !important;
    }

    /*********************************/
    
    h1 strong , h1 u , h1 i , h1 s , h1 a{
        font-size:2.5vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

    h2 strong , h2 u , h2 i , h2 s , h2 a{
        font-size:1.85vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

    h3 strong , h3 u , h3 i , h3 s {
        font-size:1.45vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

    p strong , p u , p i , p s , p a , div.small p, div.small ul, div.small li, div.small td , div.small td strong , div.small td u , div.small td i , div.small td s , div.small td a{
        font-size:1.2vw !important;
        line-height: 130% !important;
        letter-spacing: 0% !important;
    }

}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

p a{
    color:#000;
    text-decoration: underline !important;
    line-height: 120% !important;
}
p a:hover{
    color:#ccc !important;
    text-decoration: underline !important;
}

ol {
    list-style-type: decimal;
    padding-left: 40px;
}
ol li {
    display: list-item;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

.white{
    color:#FFF !important;
}
.whiteBg{
    background:#FFF;
}

.black{
    color:#000!important
}
.blackBg{
    background:#000
}

.grey{
    color:#666666;
}
.greyBg{
    background:#666666;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

a .tabActive{
    color:#ddd0c1 !important;
}
a:hover{
    color:#000 !important;
}

input[type="button"].greenBtn{
    border:0px;
    outline:none;
    padding:5px 20px;
    color:#000;
    background:#ddd0c1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

.textCenter{
    text-align:center;
}
.textRight{
    text-align:right;
}
.clickable{
    cursor:pointer;
}
.underline{
    text-decoration:underline;
}
.padding10{
    padding:10px;
}
.rounded {
    border-radius: 40px !important;
}

.threeQuartersText{
    width:75%;
}

@media(max-width:1000px){
    .desktopOnly{
        display:none !important;
    }
    /* .mobileOnly{
        display:block !important;
    } */
}
@media(min-width:1000px){
    /* .desktopOnly{
        display:block !important;
    } */
    .mobileOnly{
        display:none !important;
    }
}


/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/

ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px; /* Browser default indentation */
}

ul li {
    display: list-item;
}