@font-face {
    font-family: 'ABC Diatype Arabic';
    src: url('ABCDiatypeArabic-Black.eot');
    src: url('ABCDiatypeArabic-Black.eot?#iefix') format('embedded-opentype'),
        url('ABCDiatypeArabic-Black.woff2') format('woff2'),
        url('ABCDiatypeArabic-Black.woff') format('woff'),
        url('ABCDiatypeArabic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

